# Database
DB_URL=sqlite:///./pyqhub.db

# JWT
SECRET_KEY=change_this_to_a_long_random_secret
ALGORITHM=HS256

# Admin login
USERNAME=admin
PASSWORD=change_me

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
